{% extends 'shop/basic.html' %}
{% block title %}
Payment Status
{% endblock %}

{% block body %}


<div class="container my-5">
<div class="col my-4">

<h2>Payment Status regarding your Order Id :  {{ response_dict.ORDERID }}</h2>

	{% if response_dict.RESPCODE == '01' %}
        <script>
        	localStorage.clear();	
        </script>
        <h3 class="my-5">ORDER SUCCESS...</h3>
    {% else %}
    	<script>
        	localStorage.clear();	
        </script>
        <h3 class="my-5">ORDER FAILURE...</h3>
    {% endif %}

<a href="/shop" class="btn btn-primary my-5">Make Another Transaction</a>

</div>
</div>



{% endblock %}

